<div class="container weather-details">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Search Weather Details
        </div>
        <div class="panel-body">
          <%= render 'locations/form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
  <h2>Weather Details</h2>
  <p>At random geographic coordinates</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Geo coords</th>
        <th>City</th>
        <th>Temp</th>
        <th>Humidity</th>
        <th>Wind Speed</th>
      </tr>
    </thead>
    <tbody>
    <% @locations.each do |loc| %>
      <tr>
        <td><%= "[#{loc.lat}, #{loc.lon}]" %></td>
        <td><%= loc.city %></td>
        <td><%= loc.temperature %> &#8451;</td>
        <td><%= loc.humidity %> %</td>
        <td><%= loc.wind_speed %> m/sec</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  </div>
</div>